<form onSubmit={handleSubmit} className="p-6 flex flex-col max-w-sm gap-3">
    <input onChange={handleChange} type="text" placeholder="id" className="border border-gray-300 p-2 rounded-md" name="id"/>
    <input onChange={handleChange} type="text" placeholder="title" className="border border-gray-300 p-2 rounded-md" name="title"/>
    <input onChange={handleChange} type="text" placeholder="difficulty" className="border border-gray-300 p-2 rounded-md" name="difficulty"/>
    <input onChange={handleChange} type="text" placeholder="category" className="border border-gray-300 p-2 rounded-md" name="category"/>
    <input onChange={handleChange} type="text" placeholder="order" className="border border-gray-300 p-2 rounded-md" name="order"/>
    <input onChange={handleChange} type="text" placeholder="videoId?" className="border border-gray-300 p-2 rounded-md" name="videoId"/>
    <input onChange={handleChange} type="text" placeholder="link?" className="border border-gray-300 p-2 rounded-md" name="link"/>
    <button className='bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 rounded-md'> Save to Firestore </button>
</form>